<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form class="form-signin" method="POST" action="{% url 'signin' %}">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      {% csrf_token %}
        <p style="color: darkred">{{ error_message }}</p>
        <label for="{{ form.username.id_for_label }}"></label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
            {{ form.username }}
        </div>
        {{ form.username.errors }}

        <label for="{{ form.password.id_for_label }}"></label>
        {{ form.password }}
        {{ form.password.errors }}
      <div class="checkbox mb-3">
        <label>
          <input value="remember-me" type="checkbox"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}
