<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p>Redirecting to the dashboard...</p>
    <script>
      // JavaScript redirect
      setTimeout(function() {
        window.location.href = "{% url 'tickets_list' %}";
      }, 3000);  // Redirect after 3 seconds (adjust as needed)
    </script>
    <p><a href="{% url 'logout' %}">Log Out</a> </p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <p>Or signup</p>
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
